node_modules/

.env
.env.*
!.env.example

.vscode/

docker-compose.override.yml

dist/
build/
coverage/
.nyc_output/

*.log
logs/

reports/

/src/generated/prisma/

postman/*.postman_environment.local.json

*.pdf
